<div class="layout-column layout-align-start-center">
  <div class="uper"></div>
  <div class="flex-45 box">
    <p>
      <h1>
    Welcome to my app :)<br><br>
    </h1>
      <h2>
    Here you can give like for your favorites people!<br>
    But remember, you can't like yourself.<br>
    Lets Start!<br>
    </h2>
    </p>
    <hr>

    {{#link-to 'people'}}
      {{#paper-button}}Show people{{/paper-button}}
    {{/link-to}}
  </div>
</div>
